<h1>show</h1>
<h3>{{model.nome}}</h3>
<ul>
<li>Nome: {{model.nome}}</li>
<li>Telefone: {{model.telefone}}</li>
<li>Email: {{model.email}}</li>
<li>CPF: {{model.cpf}}</li>
<li>Endereço: {{model.endereco}}</li>
<li>CEP: {{model.cep}}</li>
<li>Indicado por: {{model.quem_indicou}}</li>
</ul>
{{link-to 'Pacientes' 'pacientes'}}
